# ==============================
# macOS
# ==============================
.DS_Store
.AppleDouble
.LSOverride

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
venv/
env/
.venv/
.env/

# ==============================
# Testing / Coverage
# ==============================
.pytest_cache/
.coverage
htmlcov/
.tox/

# ==============================
# Type checking / Linters
# ==============================
.mypy_cache/
.ruff_cache/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# IDE / Editors
# ==============================

# VS Code
.vscode/

# PyCharm
.idea/

# ==============================
# Temporary files
# ==============================
*.log
*.tmp
*.temp
*.swp
*.swo